* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
}

.header-list {
  width: 100%;
  margin: auto;
}
 header img {
   width: 15%;
   position: absolute;
   top:-10px;
   left: -2.5%;

 }

.header-list ul {
  display: flex;
  width:80%;
  margin: auto;
  justify-content:space-between;
}

.header-list li {
  list-style: none;
  width: 50%;
  margin: auto;
  padding: 2% 0;
  padding-left: 10%;
}

.header-list a {
  text-decoration: none;
  text-align: center;
  color: black;
  display: block;
}

.header-list a:hover {
  background-color: blue;
  color: white;
}

.top-wrapper img {
  width: 100%;
}

.site-wrapper {
  background-color:white;
}

.team-introduction {
}


h1 {
  text-align: center;
  font-size: 300%;
}



.team-introduction-text {
  width: 90%;
  margin: auto;

}
.team-introduction-text p {
  font-size: 120%;
  text-align: center;
  line-height: 250%;
}
.traning-wrapper {
  background-image: url("https://images.unsplash.com/photo-1571080096581-53aefc318ac3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  background-size: cover;

}

.content {
  margin-bottom: 0;
  padding-bottom:1%;
  opacity: 1;
}

h2 {
  font-size: 300%;
  text-align: center;
  padding-top: 2%;
}
.gmap-wrapper {
  width: 50%;
  margin: auto;
}
.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 75%;
  position: relative;
}

.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
h3 {
  text-align: center;
  font-size: 200%;
  padding-bottom: 2%;
  padding-top: 10%;
}

.coach-introduction {
  display: none;
}
.name-list {
  margin-top: 5%;
}

 .name-list dl {
  display: flex;
  border: solid 2px black;
  width: 40%;
  margin: auto;
  margin-bottom: 1%;

}

dt {
  width: 30%;
  margin-left: 0%;
  border-right: solid 2px black;
  text-align: center;

}

dd {
  width: 60%;
  text-align: center;
}

.traning-introduction dl {
  display: flex;
  width: 40%;
  margin: auto;
  margin-bottom: 1%;
}

.time-list {
}

dl {
  display: flex;
  border: solid 4px black;
  width: 50%;
  margin: auto;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: 150%;

}

 dt {
  border-right: none;
  width: 50%;
  margin-left: 0%;

}
 dd {
  width: 50%;
}

.coach-introduction {
  padding-bottom: 100%;
}

.players-list-wrapper {
  display: flex;
  width: 80%;
  margin: auto;
}
.player {
  width: 20%;
  margin: 5% 2.5%;
}
.player p {
  text-align: center;
  font-weight: bold;
}

.player img {
  width: 100%;
}

.game-wrapper {
  background-image: url("https://cdn.pixabay.com/photo/2015/07/02/00/08/football-828218_1280.jpg");
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  background-size: cover;
  padding: 5% 0;
}

.latest-news {
  width: 50%;
  margin: auto;
  padding: 5% 0;
}
.recruit {
  padding: 10% 0;
  background-image: url("https://images.unsplash.com/flagged/photo-1568105631375-d992b82a905b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80");
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  background-size: cover;
  padding: 5% 0;
}
.recruit p {
  font-size: 120%;
  text-align: center;
  line-height: 250%;
}

.social-media-wrapper {
background-color: gray;
}

.social-media-list-wrapper ul  {
  display: flex;
  width:80%;
  margin: auto;
  justify-content:space-between;


}
.social-media-wrapper li {
  margin: 2% 0;
  font-size: 250%;
  list-style: none;

}

.social-media-list-wrapper a {
  display: block;
  text-decoration: none;
  color: black;
}

.social-media-list-wrapper a:hover {
  color: blue;
}
